.main {
    padding: 10px;
    margin-left: 0px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.header {
    margin: 10px 0px;
    font-size: 28px;
    float: left;
}

.crudButton {
    float: right;
    margin-right: 10px;
}

.crudButton button {
    margin: 10px;
}

.table {
    border-collapse: collapse;
    width: 96%;
    margin-left: 15px;
}

th,
td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
    overflow: hidden;
    text-overflow: ellipsis;
}

tr:hover {
    background-color: #d6eeee;
}

.email {
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.id {
    overflow: hidden;
    max-width: 90px;
    text-overflow: ellipsis;
    white-space: nowrap;
}