.table {
    border-collapse: collapse;
    width: 100%;
}

.header {
    margin: 10px 0px;
    font-size: 28px;
}

.header button {
    float: right;
    margin-right: 10px;
}

.main {
    padding: 10px;
}

th,
td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #DDD;
    overflow: hidden;
    text-overflow: ellipsis;
}

tr:hover {
    background-color: #D6EEEE;
}

.email {
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
}