.main {
    padding: 10px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.header {
    margin: 10px 0px;
    font-size: 28px;
    float: left;
}

.crudButton {
    float: right;
    margin-right: 10px;
}

.crudButton button {
    margin: 10px;
}

.table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    padding: 8px;
    border-bottom: 1px solid #DDD;
    overflow: hidden;
    text-overflow: ellipsis;
}

tr:hover {
    background-color: #D6EEEE;
}

.email {
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
}